@charset "utf-8";
*{
  cursor: default;
  margin: 0; padding: 0;
  text-decoration: none;
  -ms-user-select: none;
}
nav{
  opacity: 0;
}
a {
  color: #000;
  margin: 0px 5px 0px 0px;
  border: 0;
}
header{
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 100px #1f1f1f;
}
textarea{
  padding: 5px;
  cursor: text;
  -ms-user-select: auto;
  background-color: #2e2e2e;
  float: left;
  border: 0;
  overflow: scroll;
  height: 80vh;
  width: 70vw;
}
aside{
  display: contents;
  height: 95vh;
}
#ascontents{
  display: block;
}
h1{
  font-size: 20px;
}
#ascontents2{
  margin: 15px 0px 0px 0px;
  border-top: 15px solid #2e2e2e;
}
#helpcontents{
  cursor: default;
}
body{
  background-color: #202020;
}
#savestatus{
  display: inline-block;
  float: right;
  height: 100%;
}
