@charset "UTF-8";
*{
  margin: 0; padding: 0;
  text-decoration: none;
  color: #000;
}
header{
  opacity: 0;
}
a {
  margin: 0px 5px 0px 0px;
  border: 0;
}
nav{
  background-color: #fff;
  border-bottom: #000 solid 0.25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
textarea{
  float: left;
  border: 0;
  overflow: scroll;
  height: 80vh;
  width: 65vw;
}
aside{
  display: contents;
  height: 95vh;
}
#ascontents{
  display: block;
}
h1{
  font-size: 20px;
}
#ascontents2{
  margin: 15px 0px 0px 0px;
  border-top: 15px solid #f0f0f0;
}
#helpcontents{
  cursor: default;
}
body{
  background-color: #f8f8f8;
}
