/*1*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Thin.otf') format('opentype');
  font-weight: 100;
}
/*2*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Light.otf') format('opentype');
  font-weight: 300;
}
/*3*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Medium.otf') format('opentype');
  font-weight: 500;
}
/*4*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Regular.otf') format('opentype');
  font-weight: 600;
}
/*5*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Bold.otf') format('oppentype');
  font-weight: 800;
}
/*6*/@font-face {
  font-family: 'NotoS';
  src: url('noto/NotoSansJP-Black.otf') format('opentype');
}
